@charset "utf-8";
/*CSS Document */

html, body {
    margin:0; padding:0; 
    font-family: Arial, Helvetica, sans-serif;
}

.canevas1 {
    background:url("map.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.arc text {
    font: 12px Arial;
    text-anchor: middle;
    font-weight: bold;
}

.arc path {
    stroke: #fff;
}


p.MainTitle {
    text-align: center;
    margin-top: 30px;
    opacity: 1;
    font-weight: bold;
    font-family: sans-serif;
    font-size: xx-large;
}

p.Total {
    text-align: center ;
    opacity: 1;
    margin-top: 40px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: medium;
}

.sliderContainer {
    width: 80%;
    margin-top: 30px;
    margin-left: 10%;
    position: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: lightblue;
    outline: none;
    opacity: 1;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px black;
}

.slider::after {
    content: "2016";
    color: black;
    font-size: 1rem;
    font-family: sans-serif;
    position: absolute;
    left: 86%;
    top: 7%;
 }
 
 .slider::before {
     content: "1980";
     color: black;
     font-size: 1rem;
     font-family: sans-serif;
     position: absolute;
     left: 12%;
     top: 7%;
 }
 

.slider::-webkit-slider-thumb { /* pour chrome */
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb { /*pour firefox*/
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}